body{
  text-align:center;
padding-top: 200px;
    margin:0;
 
}

}
h2{
text-align: center;
color: blueviolet;
}
#name{
    font-weight:30px;
    line-height:1.2;
    font-weight:400;   
}
p{
    font-size:25px;
    color:darkcyan;
    font-weight:bold;
    line-height:1.3;
}
.line{
height:6px;
   
    width:70px
    margin:8px auto;
    

}
#bio{
font-size:42;
text-align: end;
padding:0px;
background-color:white;
text-emphasis: black;
